@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Climate_Crisis;
  src: url('/fonts/Climate_Crisis/ClimateCrisis-Regular-VariableFont_YEAR.ttf');
}

:root {
  --background: #0f0c11;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.idk > div {
  background: #00000088;
  border-radius: 10px;
  padding: 5px;
}
